---
layout: default
title: About
---

<h2>More About Me</h2>

<h3 id="academics">Academics</h3>
<div class="education-list">
  {% for education_item in site.data.schools.education %}
  <div class="education-entry">
    <div class="education-header">
      <h4>{{ education_item.school }}</h4>
      <span class="education-years">{{ education_item.years }}</span>
    </div>
    <div class="degree-info">
      <p class="education-degree">{{ education_item.degree }}</p>
      {% if education_item.notes %}
        <p class="education-notes">{{ education_item.notes }}</p>
      {% endif %}
    </div>
    <p>Relevant Courses: {{ education_item.courses | join: ' • ' }}</p>
    {% if education_item.extracurriculars %}
      <p>Extracurriculars: {{ education_item.extracurriculars | join: ' • ' }}</p>
    {% endif %}
  </div>
  {% endfor %}
</div>

<h3 id="resume">Resume</h3>
<div class="resume-container">
  <iframe src="{{ 'assets/resume.pdf' | relative_url }}" width="100%" height="650px"></iframe>
</div>

<h3 id="fun-facts" class="fun-facts-heading">Fun Facts</h3>
<div class="content-box">
  <ul class="fun-facts-list">
      <li>You’ll frequently catch me with earbuds in, listening to some music. A few of my favorites are Glass Animals, Griff, and Charlotte Cardin. And live concerts are always a blast!</li>
      <li>I fenced (saber) competitively from childhood through college. Over the years, I even got to fence a few Olympians in tournament which was very cool (no, I did not win againt them).</li>
      <li>While it sometimes might feel a bit of a chore mid-work week, I do love cooking and baking, especially when I’m trying an exciting new recipe. Cantonese steamed fish is my go to for when I’m trying to impress though.</li>
      <li>I grew up in DC, but spent the last few years in Chicago for college and work. I’m happy to be back on the East coast in New York now though. </li>
      <li>I’m a fan of arts and crafts projects, and recently I learned how to crochet. I haven’t made anything too practical yet though, just a few large plushies.</li>
      <li>As much as I love listening to music, I don’t play myself. However, I did get to learn an unusual instrument in middle school. For a year, I learned to ring the giant bells in the National Cathedral which was definitely a unique experience. Hearing bells always reminds me of that fun time!</li>
    </ul>
  <div class="fun-fact-photos">
    <img src="/assets/img/fun/concert.jpg" class="fun-fact-photo">
    <img src="/assets/img/fun/fencing.jpg" class="fun-fact-photo">
    <img src="/assets/img/fun/food.png" class="fun-fact-photo">
    <img src="/assets/img/fun/dc.jpg" class="fun-fact-photo">
    <img src="/assets/img/fun/crochet.png" class="fun-fact-photo">
    <img src="/assets/img/fun/cathedral.jpg" class="fun-fact-photo">
  </div>
</div>